@import url('https://fonts.googleapis.com/css2?family=Karantina&family=Rubik:ital,wght@1,900&display=swap');

.btnAction{
  background:linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);
  margin-bottom: 3vh;
}

.btn-circSquare {
  width: 180px;
  font-size: 14px;
  font-weight: 600;
  color: #FFFAF0;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  /*moz-transition: all .4s ease-in-out;*/
  /*-o-transition: all .4s ease-in-out;*/
  /*-webkit-transition: all .4s ease-in-out;*/
  /*transition: all .4s ease-in-out;*/
}

.btn-circSquare:hover {
  background-position: 100% 0;
  /*moz-transition: all .4s ease-in-out;*/
  /*-o-transition: all .4s ease-in-out;*/
  /*-webkit-transition: all .4s ease-in-out;*/
  /*transition: all .4s ease-in-out;*/
}

.btn-circSquare:focus {
  outline: none;
}

.btn-circSquare.myColor {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.myColor{
  background: linear-gradient(to top,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);
  color: #FFFAF0;
}
.btnSquare {
  font-size: 20px;
  color: #FFFAF0;
  border: none;
  padding: 0px 12px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.oppositeColor{
  color: #c01039;
  border-top: 3px solid #c01039;
  border-right: 3px solid #dc1223;
  border-bottom: 3px solid #de1e1e;
  border-left: 3px solid #e02a19;
  border-image-source: linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);
  /*box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);*/
}
.transparentColor{
  color: #c01039;
  border: 1px solid #e02a19;
}
.myColor{
  /*box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);*/
  background: linear-gradient(to bottom,#c01039,#dc1223 37%,#de1e1e 75%,#e02a19) !important;
}
.shadowBtn{
  box-shadow: 0 1px 3px 0 rgba(229, 66, 10, 0.75);
}
.btnSize{
  height: 3vw;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px; /* <-- adjust this */
}










